# ---------------------------------------------
# 1. Entorno Virtual de Python
# Ignora todo el directorio del entorno virtual
mi_entorno/

# ---------------------------------------------
# 2. Archivos Generados por Python
# Ignora todas las carpetas y archivos compilados (__pycache__ y .pyc)
__pycache__/
*.pyc

# ---------------------------------------------
# 3. Archivos de Bases de Datos
# La base de datos ahora se puede subir al repositorio
# (Comentado para permitir subir la base de datos)
# src/data/*.db

# ---------------------------------------------
# 4. Archivos de Desarrollo y Configuración
# Ignora cualquier archivo personal o que contenga secretos
.env
*.log

# ---------------------------------------------
# 5. Carpetas de Trabajo Local
# Ignora carpetas de copias de seguridad y scripts de utilidad
copias/
scripts/